argon2-cffi==20.1.0
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
idna==2.10
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lab==6.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pipreqs==0.4.10
prometheus-client==0.9.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.0+cpu
torchaudio==0.7.0
torchvision==0.8.1+cpu
tornado==6.1
traitlets==5.0.5
txt2tags==3.7
typing-extensions==3.7.4.3
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.2.1
yarg==0.1.9Temporary commit content 23
Temporary commit content 31
Temporary commit content 42
Temporary commit content 46
Temporary commit content 54
Temporary commit content 89
Temporary commit content 133
Temporary commit content 154
Temporary commit content 158
Temporary commit content 168
Temporary commit content 174
Temporary commit content 178
Temporary commit content 194
Temporary commit content 213
Temporary commit content 218
Temporary commit content 278
Temporary commit content 281
Temporary commit content 285
Temporary commit content 313
Temporary commit content 322
Temporary commit content 325
Temporary commit content 334
Temporary commit content 355
Temporary commit content 367
Temporary commit content 371
Temporary commit content 376
Temporary commit content 400
Temporary commit content 423
Temporary commit content 426
Temporary commit content 446
Temporary commit content 456
Temporary commit content 477
Temporary commit content 478
Temporary commit content 485
Temporary commit content 490
Temporary commit content 511
Temporary commit content 520
Temporary commit content 534
Temporary commit content 555
Temporary commit content 569
Temporary commit content 572
Temporary commit content 577
Temporary commit content 580
Temporary commit content 584
Temporary commit content 587
Temporary commit content 589
Temporary commit content 610
Temporary commit content 659
Temporary commit content 684
Temporary commit content 691
Temporary commit content 695
Temporary commit content 709
Temporary commit content 724
Temporary commit content 761
Temporary commit content 762
Temporary commit content 771
Temporary commit content 785
Temporary commit content 786
Temporary commit content 822
Temporary commit content 823
Temporary commit content 825
Temporary commit content 832
Temporary commit content 835
Temporary commit content 843
Temporary commit content 880
Temporary commit content 890
Temporary commit content 892
Temporary commit content 893
Temporary commit content 899
Temporary commit content 923
Temporary commit content 937
Temporary commit content 942
Temporary commit content 973
Temporary commit content 975
Temporary commit content 980
Temporary commit content 987
Temporary commit content 1016
Temporary commit content 1023
Temporary commit content 1036
Temporary commit content 1057
Temporary commit content 1068
Temporary commit content 1086
Temporary commit content 1139
Temporary commit content 1141
Temporary commit content 1169
Temporary commit content 1173
Temporary commit content 1194
Temporary commit content 1224
Temporary commit content 1230
Temporary commit content 1257
Temporary commit content 1264
Temporary commit content 1274
Temporary commit content 1276
Temporary commit content 1280
Temporary commit content 1287
Temporary commit content 1288
Temporary commit content 1289
Temporary commit content 1294
Temporary commit content 1302
Temporary commit content 1314
Temporary commit content 1336
Temporary commit content 1347
Temporary commit content 1352
Temporary commit content 1369
Temporary commit content 1376
Temporary commit content 1379
Temporary commit content 1383
Temporary commit content 1392
Temporary commit content 1394
Temporary commit content 1419
Temporary commit content 1424
Temporary commit content 1427
Temporary commit content 1431
Temporary commit content 1470
Temporary commit content 1474
Temporary commit content 1499
Temporary commit content 1500
Temporary commit content 1533
Temporary commit content 1548
Temporary commit content 1550
Temporary commit content 1553
